<h1>Burgers</h1>

<h2>Burgers that are not devoured</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            <li>
                <button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
                    DEVOUR!
                </button>
            </li>
        {{/unless}}
    {{/each}}
</ul>

<h2>Burgers that have been devoured</h2>

<ul>
    {{#each burgers}}
        {{#if devoured}}
            <li>
                Devoured.
            </li>
        {{/if}}
    {{/each}}
</ul>